@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
h1{
    background-color: darkblue;
    color: grey;
    margin:-10px;
    padding:60px;
    text-align: left;
    font-family: 'Russo One', sans-serif; ;
}
.container{
    background: linear-gradient(to right, #00b4db, #0083b0);;
    margin-left:250px; 
    margin-right:250px;
    margin-top: 120px;
    margin-bottom: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: solid; 

}

h2{
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    display:flex;
    justify-content: center;
    margin:60px;
    padding: 70px;
}
h5{
    font-size: 15px;
    font-family: 'lobster Two', cursive;
}
form{
    display:flex;
    flex-direction: column;
    margin-left:100px;
    margin-right: 100px;
    margin-top: -200px;
    padding: 100px;  
}
